@(xmlUrl: String)
<html>
    <head>
        <script src="@routes.Assets.versioned("javascripts/sigma.min.js")" type="application/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/sigma.parsers.json.min.js")" type="application/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/sigma.parsers.gexf.min.js")" type="application/javascript"></script>
    </head>
    <body>
        <div id="sigma-container" style="height: 500px; width: 1000px;">
        </div>
        <script>
                /*
                sigma.parsers.gexf(
                        '@xmlUrl',
                        { container: 'sigma-container' }
                );
                */
                sigma.parsers.gexf(
                        '@routes.Assets.versioned("images/graph.gexf")',
                        { container: 'sigma-container' }
                );
        </script>
    </body>
</html>
